.noevents{
    display: none;
}

.events{
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 155px auto 260px 155px;
    grid-template-rows: 150px 700px auto;
}  



.events-grid1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 1px solid gray;
}


.events-grid2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;  
    border: 1px solid gray;  
}

/* .events { 
    width: 960px;
    margin: 0 auto;
    border: solid gray 1px;
}

.events-grid1 {
    width: 680px;
    border: solid gray 1px;
}

.events-grid2{
    width: 260px;
    border: solid gray 1px;
} */