.show-all {
  display: flex;
  flex-direction: column;
  border-top: 2px solid gray;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5e7e9;
}

.nomanage {
  display: none;
}

.manage {
  display: inline;
}


.show-top {
  display: flex;
  height: 380px;
  padding: 20px 0px 20px 100px;
  overflow: hidden;
}



.show-top > div {
  padding: 0px 20px;
}
.show-text {
  width: 450px;
  overflow-wrap: break-word;
}

.group-photo > img {
  width: 600px;
  position: relative;
  /* right: 200px; */
  height: auto;
  border-radius: 3px;
}

.show-bottom {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  left: 120px;
  height: 300px;
  /* top: 50px; */

}

.show-description {
  line-height: 1.5;
}
.show-description-box {
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 20px;

}

.show-photo{
  display: flex;
  position: relative;
  top: 20px;

}

.show-city, #show-icon, #show-people, .show-mem, #show-user, .show-user{ 
  font-size: 12px;
  position: relative;
  bottom: 20px;
}

.show-city, .show-user{
  left: 5px;
}

#show-people{
  right: 3px;
}


a.link-join:link, a.link-join:visited {
  background-color: #ED1C40;
  color: white;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.link-join:hover, a.link-join:active {
  background-color: #d01031;
}

a.link-join {
    border-radius: 3px;
}

.group-bottom {
  position: relative;
  top: 25px;
  width: 100%;
  border-top: 1px solid gray;

}

.group-show-line {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.about-events {
  display: flex;
  flex-direction: row;
  width: 500;
  padding-left: 50px;
  position: relative;
  left: 80px;
  justify-content: space-between;
}

.about-tab {
  display: flex;
  flex-direction: row;
  color: blue;

}

.events-tab {
    display: flex;
  flex-direction: row;
  /* padding-left: 50px; */
}

.membership-button-div {
  width: 450px;
  padding-left: 100px;
}




