.show-all {
  display: flex;
  flex-direction: column;
  border-top: 2px solid gray;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5e7e9;
}

.nomanage {
  display: none;
}

.manage {
  display: inline;
}


.show-top {
  display: flex;
  height: 380px;
  padding: 20 0 20 100;
}

.show-top > div {
  padding: 0px 20px;
}

.group-photo > img {
  width: 600px;
  position: relative;
  /* right: 200px; */
  height: auto;
  border-radius: 3px;
}

.show-bottom {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  left: 20px;
  height: 300px;
  top: 50px;

}

.show-photo{
  display: flex;
  position: relative;
  top: 20px;

}

.show-city, #show-icon, #show-people, .show-mem, #show-user, .show-user{ 
  font-size: 12px;
  position: relative;
  bottom: 20px;
}

.show-city, .show-user{
  left: 5px;
}

#show-people{
  right: 3px;
}


a.link-join:link, a.link-join:visited {
  background-color: #ED1C40;
  color: white;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.link-join:hover, a.link-join:active {
  background-color: #d01031;
}

a.link-join {
    border-radius: 3px;
}
