body {
    margin: 0;
}

.video-container{
    height: 460px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#video {
    display: flex;
    width: 100%;
    filter: brightness(75%);
}

.overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    left: 0%;
    right: 0%;
    z-index: 1;
    color: #FFFFFF;
    text-align: center;
    font-family: helvetica;
}

.overlay > h2 {
    font-size: 42px;
    font-weight: bold;
    position: relative; bottom: 30px
}

.overlay > h3 {
    font-size: 20px;
    position: relative; bottom: 60px
}

.center-button{
    position: relative; bottom: 50px
}

a.index:link, a.index:visited {
  background-color: #F13A59;
  color: white;
  padding: 15px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.index:hover, a.index:active {
  background-color: #ed1c3f;
}

a.index{
    border-radius: 5px;
}

.index-bottom {
    background-color: white;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    justify-content: space-evenly;
}

a.index-link:link, a.index-link:visited {
  background-color: #f6f7f8;
  color: #585858;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

a.index-link:hover, a.index-link:active {
  background-color: #d01031;
}

a.index-link {
    border-radius: 3px;
    border: 1px solid #cac9c9;
}

.index-link{
    display: flex;
}


