.all {
    background-color: rgba(250,250,250,1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 460px;
    height: 530px;
    border: 1px solid #dbdbdb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

    /* line-height: 1.5; */
    /* margin-bottom: 16px; */
    /* font-weight: 400; */
    /* position: relative; left: 400px; top: 70px; */
   
}

.box1{
    display: flex;
    flex-direction: column;
    height: 100.7px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    background-color: #fff;
}

.box1 > h2{
    font-size: 30px;
    position: relative;
    left: 15px;
    bottom: 10px;

}

.box1 > p {
    font-size: 13px;
    margin-bottom: 16px;
    line-height: 1.6;
    position: relative;
    bottom: 30px;
    left: 15px;
}

.lock {
    position: relative;
    right: 7px;
}

.box2{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 265px;
    border-bottom: 1px solid #617aad;
    background-color: #fff;
}

.box3{
    background-color: #d8dfea;
}

.input {
    line-height: 1.5;
    padding: 4px;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(0,0,0,.12);
    height: 25px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 15px;

    /* position: relative; */
    /* left: 15px; */
    z-index: 1;
    width: 91%;
    background-color: rgba(250,250,250,1);

}

.input:focus{
  border-color: #1f24cd;
  outline: 0;
}


.email{
    position: relative;
    left: 15px;
    top: 20px;
}

.password{
    position: relative;
    left: 15px;
    top: 30px;
}

.forgot{
    font-family: arial;
    font-size: 13px;
}

.keepme{
    position: relative;
    left: 40px;
    top: 31px;
}

.checkbox{
    position: relative;
    left: 15px;
    top: 50px;
}

.login-link{
    position: absolute;
    left: 15px;
    bottom: 20px ;
}

.err {
    position: relative;
    left: 15px;
    top: 20px;
    color: #ED1C40;
    font-size: 14px;

}

.login-div{
    margin: 0px;
}

.box3 {
    height: 164.3px;
}

a.forgot:link, a.forgot:visited {
    text-decoration: none;
    color: #2e25cc;
}

a.forgot:hover, a.forgot:active {
   text-decoration: underline
}

a.not-reg:link, a.not-reg:visited {
    text-decoration: none;
    color: #2e25cc;
}
a.not-reg:hover, a.not-reg:active {
   text-decoration: underline
}

a.login-link:link, a.login-link:visited {
  background-color: #ED1C40;
  color: white;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.login-link:hover, a.login-link:active {
  background-color: #d01031;
}

a.login-link {
    border-radius: 3px;
}

a.login-facebook:link, a.login-facebook:visited {
  background-color: #3b5998;
  color: white;
  padding: 15px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  width: 85%;
  position: relative;
  left: 15px;
}

a.login-google:link, a.login-google:visited {
  background-color: #ffffff;
  color: gray;
  padding: 15px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  width: 85%;
  position: relative;
  left: 15px;
  
}




