.nav-bar {
    position: relative;
    display: flex;
    padding: 20px 10px 10px;
    justify-content: space-between;
    border-bottom: .5px solid rgb(224, 224, 224);
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.nav-bar-right {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.nav-bar-right > .group {
    padding-right: 40px;
    color: #00A2C7;
    font-weight: bold;

}

.nav-bar-right > .nav {
    padding-right: 20px;
}

a.nav {
    color: #585858;
}

a.nav:link, a.logo:link, a.group:link{
    text-decoration: none;
}

a.nav:visited, a.group:visited, a.logo:link{
  text-decoration: none;
}

.center-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.center-button {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar > .nav-bar-left > .logo {
font-family: 'Pacifico';
font-size: 30px;
color: #f64060;
position: relative; bottom: 10px;
}

a.nav:hover, a.nav:active {
    color: #97cad1;
}




