.sign-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
}

.sign-container {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 530px;
    position: relative;
}

.sign-box1{
    display: flex;
    flex-direction: column;
}

.sign-box1 > h2 {
    position: relative;
    left: 175px;
    top: 0px;
    font-size: 32px;

}

a.sign-facebook:link, a.sign-facebook:visited {
  background-color: #3b5998;
  color: white;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  width: 85%;
  position: relative;
  bottom: 30px;
  left: 15px;
  font-size: 18px;
}

a.sign-google:link, a.sign-google:visited {
  background-color: #ffffff;
  color: gray;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  width: 85%;
  position: relative;
  left: 15px;
  bottom: 60px;
  border: 1px solid gray;
  position: relative;
  font-size: 18px;

  
}