.sign-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
}

a.sign-facebook:link, a.sign-facebook:visited {
  background-color: #3b5998;
  color: white;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  width: 85%;
  position: relative;
  bottom: 15px;
  left: 15px;
  font-size: 18px;
}

a.sign-google:link, a.sign-google:visited {
  background-color: #ffffff;
  color: gray;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  width: 85%;
  position: relative;
  left: 15px;
  bottom: 0px;
  border: 1px solid gray;
  position: relative;
  font-size: 18px;
  
}

.sign-container {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 530px;
    position: relative;
}

.sign-box1{
    display: flex;
    flex-direction: column;
}

.sign-box1 > h2 {
    position: relative;
    left: 175px;
    top: 0px;
    font-size: 32px;

}

.sign-box1 > h4 {
    margin: 0px;
}

.sign-box2 {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 265px;
    background-color: #fff;
}

.sign-input {
    line-height: 1.5;
    padding: 4px;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(0,0,0,.12);
    height: 30px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 15px;

    position: relative;
    z-index: 1;
    width: 90%;
    background-color: rgba(250,250,250,1);

}

.sign-label1, .sign-label2, .sign-label3{
    position: relative;
    left: 15px;
    font-size: 14px;
}

.sign-label1{
    position: relative;
    top: 20px;
}

.sign-label2{
    position: relative;
    top: 40px;
}

.sign-label3{
    position: relative;
    top: 60px;
}

.sign-input:focus{
  border-color: #1f24cd;
  outline: 0;
}

.sign-box3 {
    border-bottom: solid 1px #e0e0e0;
    padding-bottom: 30px;
}
.sign-box3 > i {
    color: grey;
    font-size: 18px;
    position: relative;
    left: 20px;
    bottom: 15px;
    border-bottom: solid 1px lightgray;
}

.sign-box3 > label {
    position: relative;
    left: 30px;
    bottom: 15px;
    color: gray;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.signin-public {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: gray;
    position: relative;
    left: 20px;
    width: 80%;
}

.signin-div {
    position: relative;
    top: 15px;
}

.signin-pos {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #484848;
    left: 25px;
    top: 35px;
    width: 85%;
    text-align: center;
    margin-bottom: 30px;
}

.already {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #484848;
    left: 25px;
    top: 35px;
    width: 85%;
    text-align: center;
    margin-bottom: 30px;
}

a.signin-link:link, a.signin-link:visited {
  background-color: #ED1C40;
  color: white;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.signin-link:hover, a.signin-link:active {
  background-color: #d01031;
}

a.signin-link {
    border-radius: 3px;
    position: relative;
    left: 15px;
    width: 85%;
    font-size: 18px;
}

